block head
    - var pageTitle = 'Forcefield'

include ../templates/head.pug
include ../templates/header.pug

div.header-banner
    div.content
        h1 Vehicle Forcefield
        h2 Because Warranties Are Boring
        p SHIELD YOUR CAR FROM BREAK-DOWNS WITH FACTORY LEVEL BUMPER-TO-BUMPER PROTECTION THAT IS DESIGNED FOR EVERYONE, INCLUDING UBER AND LYFT DRIVERS.
        
        img.referral-logo(src='https://support.doordash.com/images/doordash-logo-red@2x.png')

        .button.color-bunting-border.center
            img(src='/assets/img/icons/logo.png')
            span.text I Want It now

    div.icon.color-apple-border
        img(src='/assets/img/icons/logo.png')

div.section-banner
    h2 What it covers
section
    h1 YOUR VERY OWN FORCEFIELD
    h2 TO PROTECT YOU AGAINST BREAKDOWNS

div.section-banner.left
    h2 ADDITIONAL BENEFITS

include ../templates/footer.pug