@font-face {
	font-family: 'Century Gothic';
    font-weight: 400;
	src: url('/assets/fonts/centurygothic.ttf') format('truetype');
}
@font-face {
	font-family: 'Century Gothic';
    font-weight: 600;
	src: url('/assets/fonts/centurygothicbold.ttf') format('truetype');
}