block head
    - var pageTitle = 'Locations'

doctype html
html
    include ../templates/head.pug
    include ../templates/header.pug

    div.locations-view
        div.header-banner.max-width-container
            div.content
                h1 Locations

                div.icon.color-apple-border
                    img(src='/assets/img/icons/locations.svg')

                h2 At a place near you

                img(src='/assets/img/locations-map.svg')

    include ../templates/footer.pug