block head
    - var pageTitle = 'Locations'

doctype html
html
    include ../templates/head.pug
    include ../templates/header.pug

    div.locations-view
        div.header-banner.max-width-container
            div.content
                h1 Locations

                div.icon.color-apple-border
                    img(src='/assets/img/icons/locations.png')

                img(src='')

    include ../templates/footer.pug