footer
    div.wrapper.max-width-container
        div.disclaimer This website and all materials used for marketing that refer you to this site use the terms “Warranty”, “Extended Warranty”, “Vehicle Service Contract”, and “Extended Service Protection Plans” as equivalents for marketing purposes only. illdrive.it is offering vehicle service contracts on our website that are administered by MBPI Inc and underwritten by AmTrust Insurance Inc. Only automobile manufacturers can offer extended car warranties. All sales are subject to the terms located within the vehicle service contract and are also bound to the laws and regulations of the state the contract is sold. Please refer to the vehicle service contract for details.
        
        nav
            a(href='') Twitter,
            a(href='') Facebook,
            a(href='') Instagram
            a.right(href='tel:+18003257484') Call us at +1(800)-3257-484

        div.copyrights &copy; 2016 illdrive.it. 
            a Terms

script(src='https://code.jquery.com/jquery-3.1.0.js')
script(src='/assets/js/pagex.js')
script(src='/js/app.js')