header
    a.logo(href='/')
        img.icon(src='/assets/img/icons/logo.png')

    img.toggle-menu(src='/assets/img/icons/menu.png')

    nav.closed
        a.item(href='/launch-pad')
            img.icon(src='/assets/img/icons/launch_pad.png')
            | Launch Pad
        a.item(href='/forcefield')
            img.icon(src='/assets/img/icons/logo.png')
            | Forcefield
        a.item(href='/training')
            img.icon(src='/assets/img/icons/training.png')
            | Training
        a.item(href='/locations')
            img.icon(src='/assets/img/icons/locations.png')
            | Locations
        a.item(href='/about')
            img.icon(src='/assets/img/icons/about.png')
            | About