block head
    - var pageTitle = pageTitle ? pageTitle.toUpperCase() + ' - illdrive.it' : 'illdrive.it'

head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='theme-color', content='#60b646')

    title #{pageTitle}

    link(rel='stylesheet', href='/css/main.css')