header
    a.logo(href='/')
        img.icon(src='https://www.illdrive.it/assets/img/logo.png')

    nav
        a.item(href='/')
            img.icon(src='https://www.illdrive.it/assets/img/logo.png')
            | Launch Pad
        a.item(href='/forcefield')
            img.icon(src='https://www.illdrive.it/assets/img/logo.png')
            | Forcefield
        a.item(href='/')
            img.icon(src='https://www.illdrive.it/assets/img/logo.png')
            | Training
        a.item(href='/locations')
            img.icon(src='https://www.illdrive.it/assets/img/logo.png')
            | Locations
        a.item(href='/about')
            img.icon(src='https://www.illdrive.it/assets/img/logo.png')
            | About