/*
    Written by Filiph Sandström,
    TODO: SCSS
*/

.contract {
    margin: 0 auto;
    width: 825px;
    max-width: 100%;
    position: relative;
}
.contract article {
    position: relative;
    padding: 15px;
    margin:  0 0 15px 0;
    border: 5px solid;
    font-size: 16px;
}
.contract h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px !important;
    font-weight: 700;
}
.contract h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 25px 0 !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 700;
}
.contract h3 {
    margin: 25px 0 0 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
.contract article p {
    font-size: 16px !important;
}
.contract u {
    font-weight: 700;
}
.contract .logo-cnt {
    margin: 25px 0;
    text-align: center;
}
.contract .logo-cnt img {
    display: inline-block;
    width: 100px;
}
.contract .table {
    padding: 15px;
    border: 1px solid #000;
}
.contract .table .col-1 {
    padding: 8px 0;
}
.contract .table span {
    display: block;
}
.contract .signmarker {
    width: 300px;
    padding: 10px;
    transform: translateY(40px);
    border: 5px solid #60BA48;
    color: #60BA48;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 250ms ease-out;
    font-size: 22px;
}
.contract .signmarker:hover, .contract .nextmarker:hover {
    background: #60BA48;
    color: #fff;
}
.contract .signmarker.hidden, .contract .nextmarker.hidden, .contract .signature.hidden {
    display: none;
}
.contract .nextmarker {
    position: absolute;
    left: 0; right: 0;
    width: 90px;
    height: 90px;
    padding: 10px;
    margin: auto;
    transform: translateY(-55px);
    border: 5px solid #60BA48;
    border-radius: 100%;
    color: #60BA48;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 250ms ease-out;
    font-size: 22px;
}
.contract .signarea {
    width: 300px;
    padding: 5px 15px;
    margin: 45px 0 0 0;
    border-top: 2px solid #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.contract .signature {
    height: 100px;
}
.contract .signature img {
    position: absolute;
    bottom: 65px; left: 0;
    max-width: 200px;
}