/* Style sheet */

/* import fonts */
@font-face {
	font-family: "Century Gothic";
	src: url("../fonts/centurygothic.ttf") format("truetype");
}
@font-face {
	font-family: "CenturyGothicBold";
	src: url("../fonts/centurygothicbold.ttf") format("truetype");
}
@font-face {
	font-family: "Andthenitends";
	src: url("../fonts/andthenitends.otf");
}
body{
	font-family: "Century Gothic";
}
.car-icon{
	padding: 60px 0 0 0;
}

.left{
	float: left;
}
.right{
	float: right;
}

.clear:before,
.clear:after {
   content: "";
   display: table;
}
.clear:after {
   clear: both;
}


.input-block.notify input{
    border-radius: 0;
    margin: 0 auto;
    display: flex;
    border: solid 8px #000;
    height: auto;
    width: 80%;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    margin: 15vh auto 60px auto;
}

.back-notify{
	text-align:center;
	z-index:3;
	bottom: 27px;
	left: 0;
	height: 146px;
    width: 146px;
 	border: 8px solid #60BA46;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: #60BA46;
    padding-top: 30px;  
}
.back-notify span{
	display: inline-block;
	padding: 6px 0 0 0;
	font-size:20px;
	line-height:1;
	color:#60BA46;
	text-transform:uppercase;
	text-decoration:none;	
}
.notify-button{
	text-align:center;
	bottom: 27px;
	right: 0;
    border: 7px solid #60BA46;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 146px;
    width: 146px;
    text-decoration: none;
    color: #60BA46;
	padding-top: 11px;
	z-index:10;
}

.notify-button span{
	display: inline-block;
	padding: 6px 0 0 0;
	font-size:20px;
	line-height:1;
	color:#0F173A;
	text-decoration:none;
}
.allert-wrapper{
	min-height: 100%;
	position: relative;
    padding: 70px 0 27px 0;
	width:1140px;
	margin: 0 auto;	
}

.allert-wrapper .back{
	position: absolute;
	left: 0;
	bottom: 0;

}
.allert-wrapper .title-block{
	font-size:50px;
	color:#0f173a;
}
@media(max-width:640px){
	.allert-wrapper .title-block{
		font-size:30px;
	}
}
.sub-title-block{
	padding: 10px 0;
	font-size:20px;
	text-align:center;
	text-transform:uppercase;
	color:#60BA46;
}
.erorr-man{
	padding: 40px 0 60px;
}
.img-border{
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	height: 463px;
	width: 463px;
	border-box:box-sizing;
	border-radius:50%;
	border:18px solid #61B646;
	    margin: 0 auto;
}
.about-us-bottom{
	text-align:center;
	display: inline-block;
}

.about-us-bottom p,
.hide-link p{
	width: 700px;
	margin: 0 auto;
	font-size:30px;
	color:#0f173a;
	text-transform:uppercase;
}
.about-us-bottom a,
.hide-link a{
	text-decoration:none;
	display: block;

}
.about-us-bottom a:hover,
.hide-link a:hover{
	text-decoration:none;
}
.hide-link-about{
	display: none;
}

@media(max-width:1140px){
	.allert-wrapper{
		width: 90%;
		padding: 70px 0 27px;
		height: 100%;
	
	}
	.about-us-bottom p{
	    width: 480px;
	    margin: 20px auto;
	    font-size: 20px;
	    color: #0f173a;
	    text-transform: uppercase;
	}
	.space{
		display: none;
	}
	.erorr-man{
		padding: 20px 0 20px;
		width: 257px;
		margin: 0 auto;		
	}
	.erorr-man img{
		width:100%;
	}

}
@media(max-width:960px){

	.about-us-bottom {
		display: none;
	}	
	.hide-link-about{
		display: block;		
	}
	.hide-link-about p{
	    width: 100%;
	    margin: 20px auto;
	    font-size: 20px;
	    color: #0f173a;
	    text-transform: uppercase;
	}
	.erorr-man{
		width: 157px;		
	}
	.erorr-man img{
		width:100%;
	}	
}

.center{
	text-align:center;
}
.big-icon-block{
	padding: 60px 0 0 0;
}
.big-icon-border{
	width: 400px;
	height: 400px;
	box-sizing:border-box;
	border-radius:50%;
	border:18px solid #60B546;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
}
.big-icon-border img {
	width: 85%;
}

.navbar-brand {
	height: auto;
}
.logo {
	width: 105px;
	height: auto;
}
.navbar-nav>li>a {
	color: #0E173A;
	font-size: 19px;
}
.nav>li>a>div{
	height: 54px;
	margin: 5px auto;
	text-align:center;
}
.nav>li>a>div>img{
	height: 100%;
	display: inline-block;
}
.nav>li>a:focus, .nav>li>a:hover{
	background:transparent;
}
.navbar-toggle {
	background-color: #000;
	top: 40px;
	padding: 10px;
	border-radius: 10px;
}
.navbar-toggle .icon-bar {
	background: #fff;
	width: 30px;
	height: 5px;
	border-radius: 0px;
}
#home .container-fluid, #warranty .container-fluid{
	max-width: 1300px;
	width: 100%;
	margin-top: 70px;
	position: relative;
}	
.container-fluid{
	
	max-width: 1300px;
	width: 100%;
}
.welcom h1 {
	font-size: 56px;
	line-height: 61px;
	color: #0E173A;
	max-width: 242px;
	margin: 0 auto;
}
.welcom h1 img {
	float: left;
	margin-top: 0;
	max-width: 56px;
}
.welcom h1 span{
	float:left;	
}
.welcom h2 {
	font-size: 26px;
	line-height: 35px;
	color: #5fbb46;
	width: 100%;
	float: left;
	margin-top: 0;
	text-align: center;
}
a.img-circle {
	display: table-cell;
	vertical-align: middle;
	width: 145px;
	height: 145px;
	box-sizing:border-box;
	text-align:center;
	border-radius:50%;
	border: 8px solid rgb(95,187,70);
}

a.img-circle>img{

}
.launcpad{
	width: 90%;
	display: inline-block;
}
.content {
	font-size: 25px;
	padding-left: 0;
	border-top: 6px solid #0E173A;
	position: absolute;
	top: 10px;
	left: 210px;
}
.content:before{
	background-color: #0E173A;
	content: "";
	display: block;
	height: 6px;
	position: absolute;
	right: -29px;
	top: 12px;
	transform: rotate(65deg);
	-webkit-transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	-o-transform: rotate(65deg);
	-ms-transform: rotate(65deg);
	width: 43px;
}	
.content-left {
	font-size: 26px;
	padding-left: 0;
	position: absolute;
	border-top: 6px solid #0E173A;
	top: 140px;
	left: 40px;
}
.content-left:before{
	background-color: #0E173A;
	content: "";
	display: block;
	height: 6px;
	position: absolute;
	right: -29px;
	top: 0;
	transform: rotate(22deg);
	-webkit-transform:rotate(22deg);
	-moz-transform: rotate(22deg);
	-o-transform: rotate(22deg);
	-ms-transform: rotate(22deg);
	width: 33px;
}	
.content-left-img {
	position: absolute;
	top: 140px;
	left: 380px;
}
.content-bottom {
	font-size: 24px;
	line-height: 32px;
	border-bottom: 6px solid #0E173A;
	margin-top: 80px;
	padding-right: 0;
	text-align: right;
	position: absolute;
	left: 930px;
	top: 120px;
}
.content-bottom:before {
	background-color: #0E173A;
	bottom: 11px;
	content: "";
	display: block;
	height: 6px;
	left: -54px;
	position: absolute;
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	width: 61px;
}
.content-bottom-img {
	position: absolute;
	left: 700px;
	top: 120px;
}
.content-center-img {
	position: absolute;
	top: 190px;
	left: 540px;
}
.content-img {
	position: absolute;
	top: 20px;
	left: 550px;
}
.content-center-img .img-circle {
	border: 10px solid #0E173A;
	height: 160px;
	width: 160px;
}
.content-center-img .img-circle span:last-child{
	color: #5fbb46;
}
 .content-center-img .img-circle span {
	display: table;
	text-align: center;
	width: 100%;
	font-family: "Andthenitends";
	font-size: 32px;
	font-weight: bold;
	position: relative;
	top: 33px;
}
.content-forth-img {
	position: absolute;
	left: 700px;
	top: 295px;
}
.content-forth {
	font-size: 24px;
	line-height: 32px;
	border-bottom: 6px solid #0E173A;
	margin-top: 80px;
	padding-right: 0;
	text-align: right;
	position: absolute;
	right: 70px;
	top: 290px;
}
.content-forth:before {
	background-color: #0E173A;
	bottom: 11px;
	content: "";
	display: block;
	height: 6px;
	left: -34px;
	position: absolute;
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	width: 41px;
	top: 53px;
}
.content-fifth {
	font-size: 26px;
	padding-left: 0;
	position: absolute;
	border-top: 6px solid #0E173A;
	top: 320px;
	left: 50px;
}
.content-fifth:before {
	background-color: #0E173A;
	content: "";
	display: block;
	height: 6px;
	position: absolute;
	right: -42px;
	top: 2px;
	transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
	-moz-transform: rotate(22deg);
	-o-transform: rotate(22deg);
	-ms-transform: rotate(22deg);
	width: 45px;
}	
.content-fifth-img {
	position: absolute;
	top: 310px;
	left: 410px;
}
.content-six-img {
	position: absolute;
	left: 560px;
	top: 385px;
}
.content-six {
	font-size: 24px;
	line-height: 32px;
	border-bottom: 6px solid #0E173A;
	margin-top: 80px;
	padding-right: 0;
	text-align: right;
	position: absolute;
	right: 230px;
	top: 410px;
}
.content-six:before {
	background-color: #0E173A;
	bottom: 11px;
	content: "";
	display: block;
	height: 6px;
	left: -34px;
	position: absolute;
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	width: 41px;
	top: 53px;
}

#warranty .rightimg .img-circle{
	border: 19px solid #60b846;
	margin: 40px auto;
}
#warranty h1{
	font-size: 70px;
	text-transform: uppercase;
	line-height: 76px;
	margin-bottom: 18px;
	color: #0E173A;
}
#warranty h2{
	color: #5fbb46;
	font-size: 41px;
	text-transform: uppercase;
	line-height: 46px;
	margin-bottom: 32px;
}
#warranty h3 {
	color: #0e173a;
	font-size: 38px;
	margin-bottom: 26px;
}
#warranty h4 {
	color: #0e173a;
	font-size: 30px;
	margin-bottom: 6px;
	margin-top: 10px;
}
#warranty h5 {
	color: #0e173a;
	font-size: 30px;
	font-family: "Century Gothic Bold";
}
#warranty p {
	font-size: 30px;
	line-height: 38px;
	margin-bottom: 58px;
	text-transform: uppercase;
}
#warranty a {
	border: 7px solid #0E173A;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: 124px;
	margin-left: auto;
	margin-right: auto;
	width: 124px;
	text-decoration: none;
	color: #0E173A;
	padding-top: 11px;
}
#warranty a img {
	margin-bottom: 8px;
	margin-top: 6px;
	max-width: 48px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
		cursor: pointer;
}
#warranty a img:hover{
	-moz-transform:scale(1.2); 
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
}
#warranty a span {
	width: 100%;
	text-align: center;
	float: left;
}

#warranty .talk {
	border: 9px solid #60b846;
	border-radius: 50%;
	box-sizing: border-box;
	color: #0E173A;
	display: block;
	height: 145px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	text-align: center;
	text-decoration: none;
	width: 145px;
	font-size: 32px;
	line-height: 36px;
}
#covers {
	background: #F0EFEE;
	width: 100%;
	float: left;
	margin: 30px 0;
}
#covers h1 {
	width: 100%;
	float: left;
	padding-right: 40px;
	padding-top: 10px;
	font-size: 55px;
	padding-bottom: 10px;
}
#forcefield h1 {
	font-size: 50px;
}
#forcefield h2 {
	font-size: 40px;
	color:#60B646;
}
.row.force-inner h3 {
	color: #0E163C;
	font-size: 28px;
	cursor: pointer;
	font-family: "Century Gothic";
}
.row.force-inner div{
	width: 20%;
	float: left;
	height: 220px;
}
.force-inner .text-center {
	margin: 40px 0 0 0;
	min-height: 180px;
}
@media(max-width:1024px){
	.row.force-inner div{
		width: 25%;
	}
	.row.force-inner h3 {
		font-size:20px;
	}
}
@media(max-width:800px){
	.row.force-inner div{
		width: 33%;
	}
	.row.force-inner h3 {
		font-size:16px;
	}	
}
@media(max-width:768px){
	.force-inner .text-center {
		margin: 20px 0 0 0;
		height: auto;
	}
	.row.force-inner div{
		width: 50%;
	}
	.row.force-inner h3 {
	    font-size: 20px;
	    font-weight: 800;
	}
	.row.force-inner figure {
	    height: 130px;
	    width: 70%;

	}	
	.row.force-inner div {
	    height: 180px;
	}	
}

.force-inner .text-center img {
	margin: 0 auto;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
		cursor: pointer;
}
.force-inner .text-center img:hover{
-moz-transform:scale(1.2); 
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
}



#benefits .benefit img {
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
		cursor: pointer;
}
.force-inner .text-center:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
}
#benefits .benefit img:hover{
-moz-transform:scale(1.2); 
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
}
#benefits .benefit:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.row.force-inner {
	margin-top: 40px;
}
.row.force-inner figure {
	height: 120px;
  /*   overflow: hidden; */
}


#benefits {
	float: left;
	width: 100%;
	margin-top: 30px;
}
#benefits .benefit {
	margin-bottom: 80px;
	float: left;
	width: 33.3%;
}
#benefits .benefit h2 {
	color: #60B646;
	font-size: 30px;
	line-height: 40px;
	cursor: pointer;
}
#benefits .benefit img {
	margin: 0 auto;
}
#benefits .benefit figure {
	min-height: 180px;
}



@media(max-width:1100px){
	#benefits .benefit h2 {
	    color: #60B646;
	    font-size: 20px;
	    cursor: pointer;
	    margin: 0;
	    line-height: 1.4;
	}
}
@media(max-width:980px){
	.beni-fix{
		width: 26%;
	}
	#benefits .benefit {
		margin-bottom: 40px;
		width: 50%;
	}
	#benefits .benefit figure {
	    height: 180px;
	        min-height: 180px;
	    width: 40%;
	    margin: 0 auto;
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	}
	#benefits .benefit figure.beni-fix{
		width: 26%;
	}

}
@media(max-width:640px){
	#benefits .benefit figure{
	position: relative;
    width: 140px;
	display: block;
    /* display: table-cell; */

	}
	#benefits .benefit figure.beni-fix {
		width: 80px;
	}
	#benefits .benefit img {
	    margin: 0 auto;
	    width: 100%;
	      position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
}
@media(max-width:480px){
	#benefits .benefit h2 {
	    font-size: 18px;
	}
	#benefits .benefit figure {
		min-height: 90px;
		height: 90px;
	    width: 110px;
	}	
	#benefits .benefit figure.beni-fix {
	    width: 60px;
	}
	#benefits .benefit {
	    width: 50%;
	}	
}
@media(max-width:400px){
	#benefits .benefit h2 {
    	font-size: 14px;
	}
}
.border {
	border-top: solid 5px #000;
	border-bottom: solid 5px #000;
	padding: 20px 0;
}
.border img.img-responsive {
	width: 100px;
	margin: 0 auto;
}
.border h1 {
	font-size: 50px;
}
#vinnumber h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 110px;
}

.vinnum {
	margin-bottom: 50px;
}
.input input {
	width: 100%;
	text-align: center;
	letter-spacing: 35px;
	font-size: 70px;
	border: 10px solid #000;
}
.next a {
	border: 7px solid #0E173A;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: 124px;
	margin-left: auto;
	margin-right: auto;
	width: 124px;
	text-decoration: none;
	color: #0E173A;
	padding-top: 11px;
	margin-top: 70px;
	margin-bottom: 50px;
}
.next a img {
	margin-bottom: 8px;
	margin-top: 14px;
	max-width: 48px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	-moz-transition: -moz-transform 0.5s ease-in;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
	cursor: pointer;
}
.next  a img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.next a span {
	width: 100%;
	text-align: center;
	float: left;
}


.back a {
	border: 7px solid #60BA46;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: 124px;
	margin-left: auto;
	margin-right: auto;
	width: 124px;
	text-decoration: none;
	color: #60BA46;
	padding-top: 11px;
	margin-top: 70px;
	margin-bottom: 50px;
}
.back a img {
	margin-bottom: 8px;
	margin-top: 14px;
	max-width: 48px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	-moz-transition: -moz-transform 0.5s ease-in;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
	cursor: pointer;
}
.back  a img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.back a span {
	width: 100%;
	text-align: center;
	float: left;
}



#mileage h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 110px;
}
#mileage .roundinput input{
	margin: 0 auto;
	display: flex;
	border-radius: 50%;
	border: solid 23px #000;
	height: 350px;
	width: 350px;
	text-align: center;
	font-size: 65px;
	font-weight: bold;
} 
#mileage .back a, #mileage .next a {
	margin-top: 10px;
}




#zipcode h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 110px;
}
#zipcode .roundinput input {
	margin: 0 auto;
	display: flex;
	border-radius: 50%;
	border: solid 23px #000;
	height: 350px;
	width: 350px;
	text-align: center;
	font-size: 65px;
	font-weight: bold;
}
#zipcode .back a, #zipcode .next a {
	margin-top: 300px;
}

#listing h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 110px;
}

#listing .back a, #listing .next a {
	margin-top: 70px;
}
.procesbar h5 {
	text-align: center;
	font-size: 22px;
}
.procesbar .noy span {
	width: 23%;
	float: left;
  
}
.procesbar .noy span:nth-child(5) {
	width: auto;
	float: left;
  
}
.procesbar span {
	font-size: 37px;
	color: #61B445;
	font-family: CenturyGothicBold;
	
}


.procesbar .nom span {
	width: 41%;
	float: left;
  
}
.procesbar .nom span:nth-child(3) {
	width: auto;
	float: left;
  
}

.procesbar .mp span {
	width: 41%;
	float: left;
  
}
.procesbar .mp span:nth-child(3) {
	width: auto;
	float: left;
  
}

.leftcontent span.yearsdat, .leftcontent span.milagetxt {
	font-size: 90px;
	font-family: CenturyGothicBold;
}
.leftcontent span.years, .leftcontent span.milagetit {
	font-size: 40px;
}
.leftcontent hr {
	border-top: 10px solid #60BA46;
}


.rightcontent span.yearsdat, .rightcontent span.milagetxt {
	color: #61B445;
	font-size: 70px;
	font-family: CenturyGothicBold;
}
.rightcontent span.years, .rightcontent span.milagetit {
	font-size: 30px;
}
.rightcontent span.plusesign{
	font-size: 70px;
	font-family: CenturyGothicBold;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
 
  background: #000;
  border-radius: 3px;
 
}
input[type=range]::-webkit-slider-thumb {
  
  height: 30px;
  width: 30px;
 
  background: #61B445;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  border-radius:50%;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000;
}

#decision h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 110px;
}
#decision h3 {
	font-size: 91px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	float: left;
	width: 100%;
	font-family: CenturyGothicBold;
}

#decision h3 span{
	color:#60BA46;
}
#decision h3 .topcontent {
	color: #000;
	width: 100%;
	text-indent: -120px;
	float: left;
	text-align: center;
}
#decision h3 .bottomcontent {
	color: #000;
	width: 100%;
	text-indent: 120px;
	float: left;
	text-align: center;
}

#decision hr {
	width: 85%;
	margin: 0 auto;
	float: none;
	border-top: 8px solid #000;
}
#decision .pymtsec {
	font-size: 81px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	float: left;
	width: 100%;
}
#decision .pymtsec .payment .pricerate {
	float: left;
	color: #61B445;
	font-family: CenturyGothicBold;
}
#decision .pymtsec .payment .pymtcontent {
	font-size: 40px;
	width: 190px;
	float: left;
	font-weight: bold;
	font-family: CenturyGothicBold;
	text-align: left;
	line-height: 31px;
	margin-left: 10px;
	margin-top: 28px;
}
#decision .pymtsec .payment {
	max-width: 600px;
	width:auto;
	float: none;
	margin: 0 auto -40px;
	display: inline-block;
}
#decision .pymtsec .payment .pricerate span{
	color:#000;
}


#decision .pymtsec h4 {
	font-size: 35px;
	font-weight: bold;
	font-family: CenturyGothicBold;
	color: #61B445;
	letter-spacing: 5px;
}
#decision .back a, #decision .next a {
	margin-top: 470px;
}



#forcefield .roundinput input {
	margin: 0 auto;
	display: flex;
	border: solid 8px #000;
	height: auto;
	width: 80%;
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	margin:10px auto 60px auto;
}
#forcefield .back a, #forcefield .next a {
	margin-top: 270px;
}

#forcefield .roundinput input::-webkit-input-placeholder {
   color: #000;
}

#forcefield .roundinput input:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

#forcefield .roundinput input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

#forcefield .roundinput input:-ms-input-placeholder {  
   color: #000;
}


#thankyou h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	color: #000;
	margin-bottom: 110px;
}
#thankyou .roundinput a {
	border: 11px solid #60BA55;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: 160px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 60px;
	width: 160px;
	text-decoration: none;
	color: #60BA46;
	padding-top: 11px;
	float: left;
	margin-top: 70px;
	margin-bottom: 50px;
}
#thankyou .roundinput a:hover{
	color:#000;
}
#thankyou .roundinput a span {
	margin-top: 19px;
	margin-bottom: 0;
	text-align: center;
	font-family: CenturyGothicBold;
	width: 100%;
	float: left;
}
#thankyou .back a, #thankyou .next a {
	margin-top: 50px;
}

#thankyou .roundinput input::-webkit-input-placeholder {
   color: #000;
}

#thankyou .roundinput input:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

#thankyou .roundinput input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

#thankyou .roundinput input:-ms-input-placeholder {  
   color: #000;
}



#address h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;
	color:#000;
}
#address .roundinput input {
	margin: 0 auto;
	display: flex;
	border: solid 8px #000;
	height: auto;
	width: 80%;
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	margin:10px auto 10px auto;
}
#address .back a, #address .next a {
	margin-top: 270px;
}

#address .roundinput input::-webkit-input-placeholder {
   color: #000;
}

#address .roundinput input:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

#address .roundinput input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

#address .roundinput input:-ms-input-placeholder {  
   color: #000;
}
#address .roundinput .city {
	width: 30%;
	float: left;
	margin-left: 10%;
}
#address .roundinput .state {
	float: left;
	width: 20%;
	margin-left: 3%;
}
#address .roundinput .zipcode {
	float: left;
	width: 24%;
	margin-left: 3%;
}
#address .roundinput.billing input {
	font-size: 30px;
}
#address .roundinput.billing h3 {
	text-align: center;
	font-size: 100px;
	margin-bottom: 80px;
}

#address .next.submit a {
	height: 200px;
	width: 200px;
	border: 11px solid #0E173A;
	margin-top: 150px;
}
#address .next.submit a img {
	max-width: 100px;
}
#address .next.submit a span {
	font-size: 30px;
	font-family: CenturyGothicBold;
	color:#60B646;
}

#mbpi h2 {
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 110px;
}

#mbpi .back a, #mbpi .next a {
	margin-top: 300px;
}
.boderbox {
	max-width: 430px;
	margin: 0 auto;
	width: 100%;
}










@media (max-width: 1300px){
header .container-fluid {
	max-width: 1190px;
	width: 100%;
}
}
@media (max-width: 1024px){
	.contentmain {
		display: none;
	}
	.content-img {
		position: absolute;
		top: 170px;
		left: 290px;
	}
	.content-bottom-img {
		position: absolute;
		left: 450px;
		top: 270px;
	}
	.content-left-img {
		position: absolute;
		top: 260px;
		left: 120px;
	}
	.content-center-img {
		position: absolute;
		top: 340px;
		left: 276px;
	}
	.content-forth-img {
		position: absolute;
		left: 430px;
		top: 455px;
	}
	.content-fifth-img {
		position: absolute;
		top: 430px;
		left: 120px;
	}
	.content-six-img {
		position: absolute;
		left: 270px;
		top: 535px;
	}
	.border h1 {
	font-size: 50px;
	text-align: center;
}
#decision h3 {
	font-size: 82px;
}
}

@media (max-width: 800px){
.nav>li>a {

	padding: 10px 10px;
}
.input input {
	width: 100%;
	text-align: center;
	letter-spacing: 25px;
	font-size: 18px;
	border: 10px solid #000;
}
	.contentmain {
		display: none;
	}
	.content-img {
		position: absolute;
		top: 170px;
		left: 290px;
	}
	.content-bottom-img {
		position: absolute;
		left: 450px;
		top: 270px;
	}
	.content-left-img {
		position: absolute;
		top: 260px;
		left: 120px;
	}
	.content-center-img {
		position: absolute;
		top: 340px;
		left: 276px;
	}
	.content-forth-img {
		position: absolute;
		left: 430px;
		top: 455px;
	}
	.content-fifth-img {
		position: absolute;
		top: 430px;
		left: 120px;
	}
	.content-six-img {
		position: absolute;
		left: 270px;
		top: 535px;
	}
	.border h1 {
	font-size: 50px;
	text-align: center;
}

#forcefield .back a, #forcefield .next a {
	margin-top: 100px;
}
#address .back a, #address .next a {
	margin-top: 130px;
}
#decision .back a {
	margin-top: 30px;
}
#mileage .back a, #mileage .next a {
	margin-top: 70px;
}
#zipcode .back a, #zipcode .next a {
	margin-top: 80px;
}
#thankyou .back a {
	margin-top: 410px;
}
#mbpi .back a, #mbpi .next a {
	margin-top: 90px;
}




}
@media (max-width: 767px){
	#warranty h1{
		font-size: 50px;
	}
	#warranty h2 {
		font-size: 26px;
	}
	#warranty p {
		font-size: 20px;
	}
	.contentmain{
		display:none;
	}
	.contentmain-img {
		position: static;
	}
	.contentmain-img img {
		margin: 7% auto;
	}
	.content-center-img .img-circle {
		margin: 7% auto;
	}
	.border h1{
			text-align:center !important;
		
	}
	.input input {
		letter-spacing: 4px;
		font-size: 30px;
	}
	#decision h3 {
	font-size: 21px;
	}
	#address .roundinput.billing h3 {

	font-size: 50px;
  
}
#mbpi h2, #thankyou h2, #address h2, #forcefield h2, #decision h2, #zipcode h2, #vinnumber h2, #mileage h2 {
	font-size: 20px;
}
#covers h1, #forcefield h1, #warranty h1 {

	font-size: 36px;
}

#mileage .roundinput input, #zipcode .roundinput input {
	margin: 0 auto;
	display: flex;
	border-radius: 50%;
	border: solid 20px #000;
	height: 270px;
	width: 270px;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}
#decision .back a, #zipcode .back a, #mbpi .back a, #mbpi .next a, #thankyou .back a, #thankyou .next a, #zipcode .next a, #mileage .back a, #mileage .next a, #address .back a, #address .next a, #forcefield .back a, #forcefield .next a {
	margin-top: 100px;
}
 #decision .next a{
	 margin-top:270px;
	 
 }
.procesbar .noy span {
	width: 22%;
	float: left;
}
.procesbar .mp span {
	width: 36%;
	float: left;
}
.procesbar .nom span {
	width: 31%;
	float: left;
}
#decision h3 .topcontent {

	text-indent: -20px;
}
#decision h3 .bottomcontent {

	text-indent: 50px;

}
#decision .pymtsec {
	font-size: 50px;
}
#decision .pymtsec .payment .pymtcontent {
	font-size: 30px;
	width: 120px;
	float: left;
	font-weight: bold;
	font-family: CenturyGothicBold;
	text-align: left;
	line-height: 31px;
	margin-left: 10px;
	margin-top: 0;
}
#decision .pymtsec h4 {
	font-size: 25px;
}
#decision .pymtsec .payment {
	max-width: 515px;
	width: 100%;
	float: none;
	margin: 0 auto;
}

#forcefield .roundinput input, #address .roundinput input {

	font-size: 30px;
   border: solid 4px #000;
}


#thankyou .roundinput a {
	border: 11px solid #60BA55;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: 160px;
	font-size: 60px;
	width: 160px;
	text-decoration: none;
	color: #60BA46;
	padding-top: 11px;
	float: none;
	margin-top: 0;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
.border h1 {
	font-size: 50px;
	text-align: center;
}
}
.hide{
	/*display: block !important;*/
}
.hide-button:not(.visible-true){
	visibility: hidden;
	pointer-events:none;
}
.input-range{
	height: 20px;
	background: #000;
	border:none;
	
	margin: 5px 15px 10px;
	position: relative;
}
.input-range:before,
.input-range:after{
	content: '';
	display: block;
	width: 15px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 100%;
	background: #000;
	border-radius: 3px 0 0 3px;
}
.input-range:after{
	right: auto;
	left: 100%;
	border-radius: 0 3px 3px 0;
	z-index: 1;
}
.input-range span{
	width: 30px !important;
	height: 30px;
	border-radius: 50%;
	border: none;
	display: block;
	position: absolute;
	outline: none;
	background: #61B445;
	top: -5px;
	margin-left: -15px;
	z-index: 2;
}
.range-values{
	display: block;
	height: 52px;
	position: relative;
}
.range-values span{
	display: inline-block;
	width: auto !important;
	position: absolute;
	top: 0;
	left: 0;
	transform:translateX(-50%);
	transition:all 0.5s ease;
}
.range-values span.selected{
	top: -10px;
}
.range-values span:first-child{transform:translateX(0);}
.range-values span:last-child{transform:translateX(-100%);}
.range-values span:only-child{
	left: 50% !important;
	transform:translateX(-50%);
}
.controls{
	text-align: center;
	margin: 0 auto;
	width: 750px;
}
.controls .back{
	position: relative;
	display: block;
	float: left;
}
.controls .back a{
	margin: 0;
}
.controls .button-clear{
	display: inline-block;
	width: 124px;
	cursor: pointer;
}
.controls .button-clear a{
	border:7px solid #0E173A;
	text-decoration: none;
	font-size: 25px;
	width: 124px;
	height: 124px;
	font-weight: 800;
	color: #0E173A;
}
.controls .next{
	float: right;
	height: 124px;
}
.controls .next a{
	margin: 0;
}
.sig{
	width: 600px;
	height: 400px;
	border: solid 1px #000;
	margin: 50px auto 70px;
	position: relative;
}
.sig .pad{
	position: relative;
	cursor: url("pen.cur"), crosshair;
	cursor: url("pen.cur") 16 16, crosshair;
	-ms-touch-action: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: 100%;
	height: 100%;
}
.load{
	text-align: center;
}

@media(max-width:640px){
	.input-block.notify input{
		padding: 10px 0;
	    width: 100%;
	    text-align: center;
	    font-size: 20px;
	}	
}
@media(max-width:640px){
	.car-icon .img-border {
		width: 100%;
		height: auto;
	}	
}

@media(max-width:640px){
	.back-notify,
	.notify-button{
		height: 120px;
    	width: 120px;

	}
	.back-notify{
		padding-top: 12px;
	}
	.notify-button{
		padding-top: 0px;
	}	
}





/*homepagegraphic   clean*/
.bullet {
  border: 8px solid rgb(95,187,70);
  border-radius: 50%;
  box-sizing: border-box;
  height: 150px;
  text-align: center;
  width: 150px;
  position:absolute;
}
.homepagegraphic {
  display: block;
  min-height: 484px;
  position: relative;
  width: 100%;
  margin-top:100px;
}

.center-bullet.bullet {
  border: 10px solid #0E173A;
  left: 50%;
  margin-left: -75px;
  padding-top: 40px;
  top: 50%;
  margin-top: -75px;
}
.center-bullet.bullet > span {
  display: table;
  text-align: center;
  width: 100%;
  font-family:"Andthenitends";
  font-size:32px;
  line-height:1;
}
.center-bullet span:last-child {
  color: #5fbb46;
  margin-top: 7px;
  font-size:36px;
}
.top-bullet.bullet {
  left: 50%;
  margin-left: -75px;
}
.bottom-bullet.bullet {
  bottom: 0;
  left: 50%;
  margin-left: -75px;
}
.topright-bullet.bullet {
  right: 414px;
  top: 80px;
}
.bottomright-bullet.bullet {
  right: 414px;
  bottom: 80px;
}
.topleft-bullet.bullet {
  left: 414px;
  top: 80px;
}
.bottomleft-bullet.bullet {
  left: 414px;
  bottom: 80px;
}
.graphdescription::after {
  background-color: #0E173A;
  bottom: 0;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}
.graphdescription2::after {
  background-color: #0E173A;
  top: 0;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}
.topright-description {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 13px;
  position: absolute;
  right: 60px;
  text-align: right;
  top: 172px;
  width: 333px;
}
.topright-description::before {
  background-color: #0E173A;
  bottom: 14px;
  content: "";
  display: block;
  height: 6px;
  left: -44px;
  position: absolute;
  transform: rotate(35deg);
   -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  width: 50px;
}
.bottomright-description {
  bottom: 78px;
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 13px;
  position: absolute;
  right: 66px;
  text-align: right;
  width: 320px;
}
.bottomright-description::before {
  background-color: #0E173A;
  bottom: 10px;
  content: "";
  display: block;
  height: 6px;
  left: -47px;
  position: absolute;
  transform: rotate(24deg);
   -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  width: 50px;
}
.bottom-description {
  bottom: -38px;
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 13px;
  position: absolute;
  right: 255px;
  text-align: right;
  width: 310px;
}
.bottom-description::before {
  background-color: #0E173A;
  bottom: 13px;
  content: "";
  display: block;
  height: 6px;
  left: -36px;
  position: absolute;
  transform: rotate(40deg);
   -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  width: 43px;
}
.top-description {
  font-size: 26px;
  left: 230px;
  line-height: 32px;
  padding-top: 9px;
  position: absolute;
  right: auto;
  text-align: left;
  top: -22px;
  width: 336px;
}
.top-description::before {
  background-color: #0E173A;
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  right: -30px;
  top: 17px;
  transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -o-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  width: 43px;
}
.topleft-description {
  font-size: 26px;
  left: 62px;
  line-height: 32px;
  padding-top: 9px;
  position: absolute;
  right: auto;
  text-align: left;
  top: 82px;
  width: 330px;
}
.topleft-description::before {
  background-color: #0E173A;
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  right: -33px;
  top: 6px;
  transform: rotate(22deg); 
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  width: 35px;
}
.bottomleft-description {
  font-size: 26px;
  left: 70px;
  line-height: 32px;
  padding-top: 9px;
  position: absolute;
  right: auto;
  text-align: left;
  top: 263px;
  width: 320px;
}
.bottomleft-description::before {
  background-color: #0E173A;
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  right: -34px;
  top: 7px;
  transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  width: 37px;
}
/* body customization */

strong {
  font-weight: 800;
}
.contentcenter{
	width:1300px;
	margin:0 auto;
	display:table;
}
.contentcenter.innerpage {
  padding-top: 65px;
}
.rightside {
  float: left;
  width: 37%;
  margin-left: 3%;
  padding-top:60px;
}
.leftside {
  float: left;
  width: 60%;
  text-align:center;
}

.borderimage {
  border: 19px solid #60b846;
  border-radius: 50%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.bulletanchor {
  border: 7px solid #0E173A;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 124px;
  margin-left: auto;
  margin-right: auto;
  width: 124px;
  text-decoration: none;
  color: #0E173A;
  padding-top:11px;
}
.bulletanchor > span {
  width: 100%;
  text-align: center;
  float: left;
}
.bulletanchor > img {
  margin-bottom: 8px;
  margin-top: 6px;
  max-width: 48px;
  height: auto;
}
.inspectionspage p {
  max-width: 698px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:58px;
}
.inspectionspage .bulletanchor > span {
  display: table;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 105px;
}
.trainingpage p {
  margin-bottom: 58px;
}
.trainingpage .bulletanchor > span {
  display: block;
  float: none;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  max-width: 50px;
  padding-right: 3px;
}
.trainingpage .bulletanchor > img {
  max-width: 74px;
}
.fullcontent {
  text-align: center;
}
.fullcontent h2 {
  margin-bottom: 56px;
}
.fullcontent p {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
}
.greenbulletanchor {
  border: 9px solid #60b846;
  border-radius: 50%;
  box-sizing: border-box;
  color: #0E173A;
  display: block;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
  text-decoration: none;
  width: 145px;
  font-size: 32px;
  line-height: 36px;
}
.locationimage {
  float: left;
  margin: 20px 40px 0;
  width: 307px;
}
h3 {
  color: #0e173a;
  font-size: 38px;
  margin-bottom: 26px;
}
h4 {
  color: #0e173a;
  font-size: 30px;
  margin-bottom: 6px;
  margin-top: 10px;
}
h5 {
  color: #0e173a;
  font-size: 30px;
  font-family:"Century Gothic Bold";
}
.stripemenu{
	display:none;
}
.mobileonly{
	display:none;
}
.homepagemobile {
  position: absolute;
  right: 46px;
  text-align: center;
  top: 62px;
  width: 347px;
}
.homerelative{
	position:relative;
}
.homepagemobile h1 {
  display: table;
  font-size: 56px;
  line-height: 61px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.homepagemobile span {
  float: left;
}
.homepagemobile img {
  float: left;
  margin-top: 0;
  max-width: 56px;
}
.homepagemobile h2 {
  font-size: 26px;
  line-height: 35px;
}
.mobiledesc{
	display:none;
}
.hovertxt{
	display:none;
}
.showhover .mobiledesc, .showhover img{
	display:none;
}
.hovereffect {
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.showhover .hovertxt {
  display: block;
  background-color: #0E173A;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  padding-top: 31px;
  box-sizing: border-box;
  z-index:99999;
}
.mainmenu img {
  max-height: 54px;
}
.warrantypage p {
  margin-bottom: 58px;
}

.launchpad-icon{
	display: inline-block;
    width: 93%;
    padding: 50px 0 0 0;
}
/*start responsive rules*/
@media (max-width:1300px){
	.contentcenter{width:1100px;}
	.topright-bullet.bullet, .bottomright-bullet.bullet{right:330px;}
	.bottomleft-bullet.bullet, .topleft-bullet.bullet{left:330px;}
	.topright-description, .bottomright-description, .bottom-description, .topleft-description, .bottomleft-description, .top-description{font-size:20px;}
	.topright-description{width:256px;}
	.bottomright-description, .bottomleft-description{width:232px;}
	.bottom-description{width:234px;}
	.topleft-description, .top-description{width:240px;}
	.borderimage{max-width:305px;}
	h1{font-size:55px;}
	h2{font-size:38px;}
	p{font-size:25px;}
	.locationimage > img { max-width: 100%;  height: auto;}
	.locationimage { margin: 20px 20px 0;  width: 278px;}
	h3{font-size:34px;}
	h4, h5{font-size:26px;}
	.greenbulletanchor{font-size:30px;}
}
@media (max-width:1099px){
	.contentcenter{width:960px;}
	.bullet{width:140px; height:140px;}
	.bullet img { max-width: 100%;  height: auto;}
	.topright-bullet.bullet, .bottomright-bullet.bullet { right: 285px;}
	.bottomleft-bullet.bullet, .topleft-bullet.bullet{left:285px;}
	.top-bullet.bullet, .bottom-bullet.bullet{margin-left:-70px;}
	.center-bullet.bullet{margin-left:-70px; margin-top:-70px;}
	.homepagegraphic{min-height:456px; margin-bottom:40px;}
	.topright-description, .bottomright-description, .bottom-description, .topleft-description, .bottomleft-description, .top-description { font-size: 18px;  line-height: 23px;}
	.topright-description { right: 13px;  width: 240px;}
	.bottomright-description, .bottomleft-description { width: 232px;  right: 15px;}
	.bottom-description { bottom: -25px;  right: 165px;  width: 234px;}
	.top-description { left: 153px;}
	.topleft-description {left: 26px;}
	.bottomleft-description { left: 20px;}
	h1 { font-size: 48px;}
	h2 { font-size: 34px;}
	.borderimage { max-width: 292px;}
	.locationimage { margin: 15px 10px 0;  width: 265px;}
	h3 { font-size: 30px;}
	h4, h5 { font-size: 24px;}
}
@media (max-width:959px){
	.launchpad-icon {
	    display: inline-block;
	    width: 93%;
	    padding: 38px 0 0 0;
	}
	.contentcenter{width:760px;}
	.mainmenu ul li a{font-size:15px;}
	h1 {  font-size: 36px;  line-height: 50px;  margin-bottom: 2px;}
	h2 { font-size: 27px; margin-bottom:20px;}
	p {  font-size: 22px;  line-height: 29px;}
	.inspectionspage p{max-width:410px;}
	.borderimage { max-width: 230px;  border: 12px solid #60b846;}
	.locationimage { margin: 15px 5px 0;  width: 215px;}
	h3 { font-size: 27px;}
	h4, h5 { font-size: 21px;}
	.innerpage p br {display: none;}
	.bullet { height: 124px;  width: 124px;}
	.topright-bullet.bullet, .bottomright-bullet.bullet { right: 200px;}
	.bottomleft-bullet.bullet, .topleft-bullet.bullet { left: 200px;}
	.top-bullet.bullet, .bottom-bullet.bullet { margin-left: -62px;}
	.center-bullet.bullet {margin-left: -62px;  margin-top: -62px;}
	.homepagegraphic { min-height: 412px;}
	.center-bullet.bullet > span{font-size:26px;}
	.center-bullet span:last-child{font-size:30px;}
	.center-bullet.bullet{padding-top:30px;}
	.topright-description, .bottomright-description, .bottom-description, .topleft-description, .bottomleft-description, .top-description { font-size: 15px;  line-height: 19px;}
	.topright-description { right: 10px;  width: 199px;}
	.topright-description::before {  bottom: 9px;  left: -29px;  transform: rotate(35deg); -webkit-transform: rotate(35deg);  -moz-transform: rotate(35deg);  -o-transform: rotate(35deg);  -ms-transform: rotate(35deg); width: 35px;}
	.bottomright-description, .bottomleft-description { right: 12px;  width: 189px;}
	.bottomright-description::before {  bottom: 4px;  left: -18px;  transform: rotate(24deg);  width: 20px;  -webkit-transform: rotate(24deg);  -moz-transform: rotate(24deg);  -o-transform: rotate(24deg);  -ms-transform: rotate(24deg);}
	 .bottom-description { bottom: -17px; right: 125px;  width: 176px;}
	 .top-description,.topleft-description  {left: 65px;}
	 .topleft-description {  width: 150px; left:25px !important;}
	 .bottomleft-description { left: 10px;  top: 209px;  width: 180px !important;}
	 .bottomleft-description::before {  right: -19px;  top: 3px;  transform: rotate(22deg);  width: 21px; -webkit-transform: rotate(22deg);  -moz-transform: rotate(22deg);  -o-transform: rotate(22deg);  -ms-transform: rotate(22deg);}
	.homepagemobile h1{font-size:40px;}
	.homepagemobile h2{font-size:19px;}
	.homepagemobile img{max-width:50px;}
	.homepagemobile{right:-30px;}
	.showhover .hovertxt{font-size:19px; padding-top:20px;}
}
@media (max-width:767px){
	.launchpad-icon {
    	padding: 27px 0 14px 0;
	}
	.stripemenu { top:22px; position:absolute; right:18px; margin-top:8px; background-color: #000;  border-radius: 15px;  cursor: pointer;  display: block;  float: right;  height: auto;  padding: 13px 10px;  width: 35px;}
	.mainmenu ul{display:none; float: left;  margin-top: 15px;  width: 100%;}
	.contentcenter {  width: 92%;}
	.stripemenu > span { background-color: #fff;  display: table !important;  float: left;  height: 5px;  margin-bottom: 6px;  margin-top: 0;  width: 100%;}
	.stripemenu > span:last-child { margin-bottom: 0;}
	.sitelogo { max-width: 75px;}
	.graphdescription2, .graphdescription { display: none !important;}
	.mainmenu li { float: left;  margin-bottom: 30px;  margin-left: 0;  margin-right: 0;  text-align: center;  width: 100%;}
	.desktoponly { display: none !important;}
    .mobileonly{display:table !important;}
	.leftside{width:100%; padding-bottom:25px;}
	.borderimage.mobileonly { margin-bottom: 35px;  margin-top: 35px;}
	.contentcenter.innerpage { padding-top: 25px;}
	.mainmenu{width:100%;}
	.twoimages { display: table;  margin-left: auto;  margin-right: auto;}
	.locationimage { margin: 15px 25px 0;}
	.homepagegraphic { min-height: 412px;  width: 440px;  margin-left: auto;  margin-right: auto; margin-top:22px; margin-top:180px;}
	.topright-bullet.bullet, .bottomright-bullet.bullet {right: 25px;}
	.bottomleft-bullet.bullet, .topleft-bullet.bullet { left: 25px;}
	.homepagemobile { text-align: center;  width: 100%;}
	.homepagemobile h1 img { margin-left: 10px;}
	.homepagemobile h2 { font-size: 26px;}
	.homepagemobile img { max-width: 61px;  margin-top: -8px;}
	.homepagemobile h1{font-size:42px;}
	.homepagemobile{right:auto; top:35px; }
	.homepagegraphic .bullet > a { color: #0e173a;  text-decoration: none;}
	.mobiledesc { display: block;  font-size: 14px;  margin-top: -8px;}
	.bullet img { max-width: 75%;}
	.showhover .hovertxt { font-size: 16px;}	
}
@media (max-width:639px){
	.locationimage > img{max-width:90%;}
	.locationimage {  margin: 15px 2px 0; width:205px;}
	.inspectionspage p, .warrantypage p, .trainingpage p  {margin-bottom:15px;}
}
@media (max-width:479px){
	.contentcenter.innerpage { padding-top: 20px;}
	h1 {  font-size: 26px;  line-height: 32px;}
	.borderimage {  max-width: 138px; border-width: 10px;}
	.borderimage.mobileonly { margin-bottom: 17px;  margin-top: 15px;}
	p {  font-size: 15px; line-height: 24px;}

	.fullcontent h2 { font-size: 18px;  line-height: 34px;  margin-bottom: 24px;  margin-top: 9px;}
	h4, h5 {  font-size: 16px;}
	h3 { font-size: 20px; margin-bottom:20px; margin-top:0;}
	.locationimage { margin: 15px 0 0;  width: 143px;}
	.locationimage > img { max-width: 94%;}
	.homepagemobile { right: auto;  top: 20px;}
	.homepagegraphic{margin-top:165px;}
}
@media (max-width:460px){
	.homepagegraphic{width:304px; height:334px; min-height:334px;}
	.bullet { height: 100px;  width: 100px;}
	.top-bullet.bullet, .bottom-bullet.bullet {margin-left: -50px;}
	.topright-bullet.bullet, .bottomright-bullet.bullet {right: 0;}
	.bottomleft-bullet.bullet, .topleft-bullet.bullet {left: 0;}
	.center-bullet.bullet { margin-left: -50px;  margin-top: -50px; border:7px solid #0e173a;}
	.bullet{border:6px solid #5fbb46;}
	.center-bullet.bullet { padding-top: 27px;}
	.center-bullet.bullet > span { font-size: 19px;}
	.center-bullet span:last-child { font-size: 23px;}
	.topright-bullet.bullet, .topleft-bullet.bullet{top:55px;}
	.bottomright-bullet.bullet, .bottomleft-bullet.bullet{bottom:65px;}
	.homepagemobile h2 {font-size: 23px;}
	.homepagemobile h1 { font-size: 38px;}
	.homepagemobile img{margin-top:-11px;}
	.mobiledesc { font-size: 11px;  margin-top: -9px;}
	.showhover .hovertxt { font-size: 14px;  line-height: 18px;}
}

@media(max-width:800px){
	.input .full-width-fill{
		padding: 10px;	
	}	
}
@media(max-width:767px){
	#covers h1 {
    width: 100%;
    float: left;
	padding: 6px 0 12px;
	}
	.mobile-center{
		text-align: center;
	    font-size: 25px!important;
	    padding: 6px 0 10px;
	    line-height: 1.2;
	}
}
@media(max-width:768px){
	#vinnumber h2,
	#mileage h2 {
		font-size: 25px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 30px;
		line-height: 1.4;
	}
	.input .full-width-fill{
		padding: 10px;	
	}			
}

@media(max-width:640px){
	#vinnumber h2,
	#mileage h2 {
		font-size: 20px;
	}		
}
@media(max-width:480px){
	.input .full-width-fill{
		padding: 5px;
		border: 5px solid #000;
		font-size: 20px;
		letter-spacing: 1px;

	}	
	#warranty h1,
	#warranty h2 {
		line-height:1.4;
	}	
}