.button {
    display: block;
    height: 110px;
    width: 110px;
    padding: 10px;
    color: #000;
    border-radius: 100%;
    border-width: 10px;
    border-style: solid;
    transition: 120ms;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        transform: scale(1.25);
        border-color: $base-secondary-color;
    }

    img {
        display: block;
        width: 60px;
        margin: 0px auto;
    }
    span.text {
        font-size: 22px;
        font-weight: $regular;

        @media only screen and (max-width: $base-max-laptop) {
            font-size: 15px;
        }
    }

    &.text-only {

    }
    &.image-only {
        position: relative;

        img {
            position: absolute;
            top: 0; bottom: 0; left: 0; right :0;
            max-width: 75%;
            margin: auto;
        }
    }

    @media only screen and (max-width: $base-max-laptop) {
        border-width: 5px;
    }
}

.six-button-grid {
    max-width: 1020px;
    text-align: center;

    .button {
        display: inline-block;
        height: calc(25vw - 50px);
        min-height: 75px;
        max-height: 200px;        
        width: calc(25vw - 50px);
        min-width: 75px;
        max-width: 200px;
        margin: 50px;

        img {
            width: 100%;
        }

        @media only screen and (max-width: $base-max-laptop) {
            margin: 25px 15px;
        }
    }
}