footer {
    width: 100%;
    padding: 25px 0px;
    background: #2c3e50;
    color: #fff;
    border-top: 10px solid #34495e;

    .wrapper {
        max-width: $base-max-width;
        margin: 0px auto;
        font-size: 14px;
        line-height: 18px;

        a {
            padding: 20px 5px 0px 0px;
            color: #fff;
            font-weight: $bold;

            &.right {
                padding: 0px;
            }
        }

        nav {
            padding: 5px 0px 0px 0px;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .copyrights {
            display: block;
            max-width: $base-max-mobile-small;
            margin: 45px auto 0px auto;
            padding: 10px 0px 0px;
            border-top: 1px solid #fff;
            text-align: center;
            font-size: 18px;
            font-weight: $bold;
            line-height: 20px;
        }
    }
}