.header-banner {
    position: relative;
    max-width: $base-max-width;
    margin: 75px auto;

    .content {
        display: inline-block;
        width: 70%;
        text-align: center;
        text-transform: uppercase;

        h1 {
            font-size: 70px;
            font-weight: $light;
            line-height: 76px;
        }
        h2 {
            padding: 20px 0;
            font-size: 42px;
            font-weight: $light;
            line-height: 46px;
        }
        p {
            padding: 0px 0px 25px 0px;
            font-size: 30px;
            line-height: 38px;
        }

        img.referral-logo {
            padding: 0px 0px 25px 0px;
        }

        @media only screen and (max-width: $base-max-laptop) {
            width: 100%;
        }
    }
    .icon {
        position: absolute;
        top: calc(50% - 10vw);
        display: inline-block;        
        width: 10vw;
        height: 10vw;
        padding: 45px;
        border-radius: 100%;
        border-width: 15px;
        border-style: solid;

        img {
            height: 100%;
            width: 100%;
        }
    }
}