a {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}
h1 {
    color: $base-main-color;
    font-size: 62px
}
h2 {
    color: $base-secondary-color;
    font-size: 48px;    
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}

.large-font {
    font-size: 82px;
}