block head
    - var pageTitle = 'Income Calculator'

doctype html
html
    include ../templates/head.pug
    include ../templates/header.pug

    div.income_calc-view
        div.center
            h1 Coming Soon
            h2 This feature is still in development

    include ../templates/footer.pug